*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#EAF0F1;
}
.face{
    height: 600px;
    width: 50%;
    float: left;
    background-size: cover;
}
#face1{
    background-image: url(Dheerajblack1.jpeg);
}
#face2{
    background-image: url(dheeraj1.jpeg);
    background-position:100% 0;
}
.faces{
    position: absolute;
    left:25%
}
.text{
    position: absolute;
    padding: 20px;
    top:40%;
    z-index: 3;
}
.texts{
    position: absolute;
    padding: 33px;
    top:40%;
    z-index: 3;
}

#text1{
    left:50px;
  
}

#text2{
    right:50px;
    
    
}